h1 {
    color: whitesmoke;
    text-align: center;
    background-color: black;
    padding: 16px;
}

p {
    font-size: 19px;
}

.destacado {
    color: white;
    text-align: center;
    background-color: darkred;
    padding: 8px;
}

div {
    text-align: center;
}
