.contenedor {
    width: 450px;
    height: 450px;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


.item {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo {
    background-color: red;
    color: white
}

.azul {
    background-color: blue;
    color: white
}

.verde {
    background-color: green;
    color: white
}