/*
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Shizuru', cursive;
*/

h1 {
    font-family: 'Merriweather', serif;
    color: red;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: blue
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

i {
    color: blue;
    font-size: 30px;
}