<h2>Contacto</h2>
<div>
    <ul>
        <li>Nombre: Carlos Pérez</li>
        <li>Email: carlosperez@gmail.com</li>
        <li>Teléfono: 123456789</li>
        <li>Linkedin: abc#123</li>
    </ul>
</div>