<h2>Nosotros</h2>
<div>
    <h4>Persona 1</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, nobis. Reiciendis ad iusto quidem neque recusandae quis earum in quasi animi facere voluptates doloremque blanditiis quibusdam consequatur, atque, tenetur ea?</p>
</div>
<div>
    <h4>Persona 2</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, nobis. Reiciendis ad iusto quidem neque recusandae quis earum in quasi animi facere voluptates doloremque blanditiis quibusdam consequatur, atque, tenetur ea?</p>
</div>
<div>
    <h4>Persona 3</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, nobis. Reiciendis ad iusto quidem neque recusandae quis earum in quasi animi facere voluptates doloremque blanditiis quibusdam consequatur, atque, tenetur ea?</p>
</div>